.text-price {
  p {
    margin-bottom  : 0;
    & strong {
      color          : #000000;
      font-size      : rem-calc(18);
      font-weight    : 600;
      line-height    : rem-calc(18);
      text-transform : uppercase;
      letter-spacing : rem-calc(1);

    }

    & span {
      opacity         : 0.5;
      color           : #000000;
      font-size       : rem-calc(15);
      font-weight     : 600;
      line-height     : rem-calc(15);
      text-decoration : line-through;
      text-transform  : uppercase;
      letter-spacing  : rem-calc(1);

    }

    &.large {
      & strong {
        font-size : rem-calc(20);
      }

      & span {
        font-weight : 600;
      }
    }

    &.lite span {
      font-size       : rem-calc(16);
      font-weight     : 400;
      text-decoration : none;
    }
  }

  &.-basket {
    display: inline-block;
    margin-left: auto;
  }
}