.navigation {
  &__menu {
    margin     : rem-calc(0 -13);
    display    : flex;
    list-style : none;

    li {
      padding-left  : rem-calc(17);
      padding-right : rem-calc(17);

      a {
        display        : inline-block;
        padding        : rem-calc(32 0 23);
        color          : #000000;
        font-size      : rem-calc(11);
        font-weight    : 600;
        text-transform : uppercase;
        letter-spacing : rem-calc(1.1);
      }
    }
  }
}