@import "elements/b-user__name";
@import "elements/b-user__photo";

.b-user {
  display     : flex;
  align-items : center;
  flex-direction : column;
  @include breakpoint(medium up) {
    flex-direction : row;
  }

  &.-large-offset {
    @include breakpoint(large up) {
      padding-left : rem-calc(60);
    }
  }
}