.btn-more {
  padding          : rem-calc(15 30);
  border-radius    : rem-calc(20);
  background-color : #a8aeb5;
  color            : white;
  font-size        : rem-calc(12);
  font-weight      : 500;
  text-transform   : uppercase;
  letter-spacing   : rem-calc(2);
  transition       : background-color 0.2s ease-in;

  &:hover {
    background-color : black;
    color            : white;
  }
}

.btn-more-wrapper {
  display         : flex;
  justify-content : center;
  padding-top     : rem-calc(30);
}