.content {
  margin-left      : auto;
  margin-right     : auto;
  margin-bottom    : rem-calc(70);
  width            : calc(100% - #{rem-calc(30)});
  box-shadow       : rem-calc(0 0 15px) rgba(2, 3, 3, 0.18);
  border-radius    : rem-calc(15);
  background-color : #ffffff;
  min-height       : rem-calc(150);
  padding          : rem-calc(35 23);


  @include breakpoint(medium up) {
    padding : rem-calc(45 40);
    width   : calc(100% - #{rem-calc(40)});
  }
}