.top-slider {
  &__arrow-wrapper {
    position  : absolute;
    right     : 0;
    left      : 0;
    top       : 0;
    margin    : 0 auto;
    max-width : rem-calc(310);
    width     : 100%;
    height    : 100%;

    @include breakpoint(medium up) {
      max-width : rem-calc(710);
    }

    @include breakpoint(large up) {
      max-width : rem-calc(1190);
    }
  }
}