.top-slider {
  &__carousel {

    a {
      display             : block;
      width               : 100%;
      height              : $slider-height;
      background-position : center;
      background-repeat   : no-repeat;
      background-size     : cover;
    }
  }
}