.top-slider {

  .owl-prev, .owl-next {
    position  : absolute;
    z-index   : 10;
    cursor    : pointer;
    top       : 50%;
    transform : translateY(-50%);
  }

  .owl-prev {
    left : rem-calc(10);
  }

  .owl-next {
    right : rem-calc(10);
  }

  .owl-dots {
    position  : absolute;
    left      : 50%;
    transform : translateX(-50%);
    bottom    : rem-calc(25);

    .owl-dot {
      display : inline-block;
      padding : rem-calc(0 8);
      span {
        display          : inline-block;
        border-radius    : 50%;
        width            : rem-calc(10);
        height           : rem-calc(10);
        box-shadow       : rem-calc(0 1px 1px) rgba(2, 3, 3, 0.3);
        background-color : #ffffff;
      }

      &.active {
        span {
          background-color : #636d77;
        }

      }
    }

  }

  &__nav {
    opacity    : 0.5;
    transition : opacity 0.2s ease-in;
    .icon {
      width  : rem-calc(22);
      height : rem-calc(50);
      fill   : #ffffff;

    }

    &.-next {
      .icon {
        transform : rotateY(180deg);
      }
    }

    &:hover {
      opacity : 1;
    }
  }
}

