@import "elements/platform-card__bottom";
@import "elements/platform-card__logo";
@import "elements/platform-card__top";
@import "elements/platform-card__text";
@import "elements/platform-card__price";
@import "elements/platform-card__button";
@import "elements/platform-card__manager-info";
@import "elements/platform-card__number";

.platform-card {
  position  : relative;
  margin    : 0 auto rem-calc(50);
  width     : 100%;
  max-width : rem-calc(353);
}