.table-row {
  flex-wrap      : wrap;
  display        : flex;
  padding-bottom : rem-calc(15);
}

.table-column {
  flex-grow   : 0;
  flex-shrink : 0;

  &.expand {
    flex-grow : 1;
  }

  &.-product {
    order     : 0;
    max-width : 100%;

    @include breakpoint(medium up) {
      width : 50%;
    }
  }

  &.-count {
    order       : 2;
    flex-shrink : 1;
    width       : 50%;

    @include breakpoint(medium up) {
      order : 3;
    }

    @include breakpoint(730px up) {
      padding-top : 0;
      order       : 1;
      max-width   : rem-calc(100);
      width       : 100%;
    }
  }

  &.-price {
    order       : 3;
    flex-shrink : 1;
    text-align  : right;
    width       : 50%;

    @include breakpoint(730px up) {
      order : 2;
    }

    @include breakpoint(medium up) {
      text-align : center;
      order      : 1;
      max-width  : rem-calc(150);
      width      : 100%;
    }

    @include breakpoint(large up) {
      max-width : rem-calc(200);
      width     : 100%;
    }
  }

  &.-close {
    order   : 1;
    display : none;

    @include breakpoint(425px up) {
      display : block;
    }

    @include breakpoint(medium up) {
      order : 2;
    }

    @include breakpoint(730px up) {
      order : 3;
    }
  }
}

