.product-item {
  &__photo {
    flex       : 1 0 100%;
    position   : relative;
    width      : rem-calc(97);
    height     : auto;
    text-align : center;
    overflow   : hidden;

    @include breakpoint(425px up) {
      text-align : left;
      flex       : 0 0 auto;
    }

    img {
      border-radius : rem-calc(25);
    }

    a {
      display    : inline-block;
      opacity    : 1;
      transition : opacity 0.2s ease-in;
      max-width  : 100%;

      &:hover {
        opacity : 0.8;
      }
    }
  }
}