.product-item {
  &__desc {
    color     : #424242;
    font-size : rem-calc(13);
    max-width : rem-calc(700);

    p {
      color          : inherit;
      line-height    : rem-calc(20);
      letter-spacing : rem-calc(0.3);
      margin-bottom  : 0;
    }
  }
}