.product-item {
  &__title {
    position       : relative;
    color          : #030303;
    font-size      : rem-calc(16);
    font-weight    : 600;
    text-transform : uppercase;
    letter-spacing : rem-calc(1);

    a {
      color          : inherit;
      font-weight    : inherit;
      text-transform : inherit;
      letter-spacing : inherit;
      transition     : color 0.2s ease-in;

      &:hover {
        color : #ff3b3b;
      }
    }
  }

  .close-btn-wrap {
    position : absolute;
    right    : 0;
    bottom      : 0;

    @include breakpoint(425px up) {
      display : none;
    }
  }
}