.footer {
  &__contacts {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    align-items     : center;
    color           : #000000;
    font-size       : rem-calc(12);
    letter-spacing  : rem-calc(0.5px);

    a {
      display        : inline-block;
      position       : relative;
      font-size      : inherit;
      color          : inherit;
      padding        : rem-calc(12 0);
      line-height    : rem-calc(13);
      letter-spacing : inherit;
      margin-right   : rem-calc(20);
    }

    span {
      display : inline-block;
    }

    .icon {
      position     : relative;
      top          : 2px;
      margin-right : rem-calc(7);
      stroke       : #000000;

      &.icon-tel {
        width  : rem-calc(15);
        height : rem-calc(15);
      }

      &.icon-mail {
        width  : rem-calc(19);
        height : rem-calc(12);
      }
    }
  }
}