.footer {
  &__logo {
    max-width  : rem-calc(150);
    min-width  : rem-calc(100);
    width      : 100%;
    text-align : center;

    @include breakpoint(medium up) {
      text-align : left;
    }
  }
}