.filter-select {
  display   : block;
  max-width : rem-calc(120);
  width     : 100%;

  .select2-dropdown {
    width            : 120%;
    border           : none;
    background-color : #e7e9eb;
    padding          : rem-calc(0 25);
  }

  .select2-search__field {
    display : none;
  }

  &__container {
    & + .select2-container {
      & * {
        background-color : transparent;
        border           : none;
        color            : #000000 !important;
        font-size        : rem-calc(13);
        font-weight      : 600;
        text-transform   : uppercase;
        letter-spacing   : normal;
      }
    }
  }

}