@import "elements/events-card__content";
@import "elements/events-card__photo";

.events-card {
  box-shadow       : rem-calc(0 0 15px) rgba(2, 3, 3, 0.18);
  border-radius    : rem-calc(40);
  background-color : #ffffff;
  margin-bottom    : rem-calc(30);
  display          : flex;
  overflow         : hidden;
  flex-wrap        : wrap;
}