//высота слайдера
$slider-height : rem-calc(400);

@import "elements/top-slider__carousel";
@import "elements/top__slider__nav";
@import "elements/top-slider__arrow-wrapper";

.top-slider {
  position : relative;
  width    : 100%;
  height   : $slider-height;
  overflow : hidden;
  z-index  : 0;
}