.b-user {
  &__photo {
    margin-bottom : rem-calc(15);

    a {
      display          : flex;
      align-items      : center;
      justify-content  : center;
      width            : rem-calc(60);
      height           : rem-calc(60);
      border-radius    : rem-calc(15);
      background-color : #e7e9eb;
    }

    .icon {
      width  : rem-calc(23);
      height : rem-calc(23);
    }
  }
}