.b-user {
  &__name {
    display        : inline-block;
    padding-left   : rem-calc(20);
    font-size      : rem-calc(20);
    letter-spacing : rem-calc(3);
    text-transform : uppercase;
    margin-bottom  : rem-calc(20);

    a {
      color          : #000000;
      font-size      : inherit;
      font-weight    : 500;
      line-height    : rem-calc(25);
      text-transform : inherit;
      letter-spacing : inherit;

      &:hover {
        color : #ff3b3b;
      }
    }
  }
}