.profile {
  &__btn {
    position    : relative;
    display     : flex;
    align-items : center;
    margin      : rem-calc(0 8);

    @include breakpoint(large up) {
      margin      : rem-calc(0 14);
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    a, span, button {
      cursor         : pointer;
      display        : inline-flex;
      align-items    : center;
      color          : #ffffff;
      font-size      : rem-calc(12);
      letter-spacing : rem-calc(1.2px);
    }

    .icon {
      fill    : #ffffff;
      opacity : .8;
      width   : rem-calc(20);
      height  : rem-calc(20);

      &.icon-basket {
        width  : rem-calc(16);
        height : rem-calc(20);
      }

      &.icon-exit {
        width  : rem-calc(15);
        height : rem-calc(17);
      }
    }

    .user-btn {
      display          : inline-flex;
      align-items      : center;
      justify-content  : center;
      margin-right     : rem-calc(5);
      width            : rem-calc(25);
      height           : rem-calc(25);
      border-radius    : 50%;
      background-color : white;

      .icon.icon-user {
        width  : rem-calc(15);
        height : rem-calc(15);
        fill   : #000000;
      }
    }

    .counter {
      position         : absolute;
      display          : inline-block;
      right            : rem-calc(-10);
      top              : rem-calc(-5);
      padding          : rem-calc(3 4);
      border-radius    : rem-calc(2);
      background-color : #dd0000;
      font-size        : rem-calc(12);
      line-height      : rem-calc(12);
      font-weight      : 500;
      text-transform   : uppercase;
      letter-spacing   : rem-calc(0.96px);
    }
  }
}