.profile {
  &__btn-exit {
    position : absolute;
    display  : inline-block;
    bottom   : rem-calc(15);
    right    : rem-calc(13);

    .icon {
      width  : rem-calc(15);
      height : rem-calc(18);
      fill   : #ffffff;
    }

    &:hover {
      .icon {
        fill : #ff3b3b;
      }
    }
  }
}