.profile {
  &__pane {
    z-index          : 2;
    border-radius    : rem-calc(0 0 5px 5px);
    background-color : rgba(0, 0, 0, 0.81);
    padding          : rem-calc(30 10 20 15);
    max-width        : rem-calc(155);
    width            : 100%;
    border           : none;
    color            : #ffffff;
    font-size        : rem-calc(12);
    font-weight      : 500;
    line-height      : rem-calc(13);
    letter-spacing   : normal;

    ul {
      list-style    : none;
      margin-left   : 0;
      margin-bottom : 0;
    }

    li {
      margin-bottom : rem-calc(14);

      &:last-child {
        margin-bottom : 0;
      }
    }

    a {
      font-size      : inherit;
      letter-spacing : inherit;
      line-height    : inherit;
      color          : white;
      transition     : color 0.2s ease-out;

      &:hover {
        color : #ff3b3b;
      }
    }

    hr {
      margin       : 0 auto;
      border-color : #ffffff;
      opacity      : 0.2;
    }
  }

}