@import "elements/profile__btn";
@import "elements/profile__pane";
@import "elements/profile__btn-exit";

.profile {
  display         : flex;
  max-width       : rem-calc(130);
  width           : 100%;
  justify-content : flex-end;
  min-height      : rem-calc(25);
}