.options-cards {
  &__item-bottom {
    padding          : rem-calc(0 35);
    width            : 100%;
    height           : rem-calc(90);
    border-radius    : rem-calc(10px 10px 40px 40px);
    background-color : #e7e9eb;

    form {
      width           : 100%;
      height          : 100%;
      display         : flex;
      align-items     : center;
      justify-content : space-between;
    }
  }
}