.options-cards {
  &__item-top {
    flex             : 1;
    width            : calc(100% - #{rem-calc(30)});
    margin           : 0 auto;
    padding          : rem-calc(36 26 26);
    box-shadow       : rem-calc(0 0 15px) rgba(2, 3, 3, 0.18);
    min-height       : rem-calc(300);
    border-radius    : rem-calc(40px 40px 0 0);
    background-color : #ffffff;


    > div {
      padding-top : rem-calc(24);
    }

    > h4 {
      margin-bottom : rem-calc(11);
    }
  }
}