.options-cards {
  &__item {
    display        : flex;
    flex-direction : column;
    width          : 100%;
    max-width      : rem-calc(355);
    color          : #424242;
    font-size      : rem-calc(13);
    line-height    : rem-calc(20);
    height         : 100%;
    margin-right   : auto;
    margin-left    : auto;
    padding-bottom : rem-calc(25);

    p {
      margin      : 0;
      line-height : rem-calc(20);
      color       : #424242;
    }
  }
}