.promo-input {
  max-width : rem-calc(220);
  width     : 100%;
  input, input:focus {
    width         : 100%;
    border-radius : rem-calc(20);
    border        : rem-calc(2) solid #d8dce0;
    font-size     : rem-calc(12);
    font-weight   : 500;
    padding       : rem-calc(8 18);
    margin        : 0;
    box-shadow    : none;
  }

  &::placeholder {
    opacity : 0.4;
    color   : #010101;
  }
}