.count {

  &.-gray {
    .count {
      &__btn {
        background-color : #dde0e3;
        box-shadow       : none;

        &:hover {
          background-color : black;
        }
      }
    }
  }

  &__btn {
    position         : relative;
    flex             : 0 1 auto;
    width            : rem-calc(22);
    display          : inline-block;
    height           : rem-calc(22);
    box-shadow       : rem-calc(0 1px 10px) rgba(2, 3, 3, 0.2);
    background-color : #ffffff;
    color            : #4f5153;
    border-radius    : 50%;
    margin           : 0;
    cursor           : pointer;
    transition       : background-color 0.2s ease-in;

    &:hover {
      background-color : black;
      .add::after, .add::before, .remove::after {
        background-color : white;
      }
    }

    .add {
      display   : inline-block;
      top       : 50%;
      left      : 50%;
      transform : translate(-50%, -50%);
      position  : absolute;
      width     : rem-calc(7);
      height    : rem-calc(7);

      &::after {
        content          : "";
        position         : absolute;

        display          : block;
        background-color : #4f5153;
        height           : rem-calc(1);
        width            : 100%;
        top              : 50%;
        left             : 0;
        transform        : translateY(-50%);
      }

      &::before {
        content          : "";
        position         : absolute;
        background-color : #4f5153;
        height           : 100%;
        width            : rem-calc(1);
        left             : 50%;
        top              : 0;
        transform        : translateX(-50%);
      }

    }

    .remove {
      display   : inline-block;
      top       : 50%;
      left      : 50%;
      transform : translate(-50%, -50%);
      position  : absolute;
      width     : rem-calc(7);
      height    : rem-calc(7);

      &::after {
        content          : "";
        position         : absolute;
        background-color : #4f5153;
        display          : block;
        height           : rem-calc(1);
        width            : 100%;
        top              : 50%;
        left             : 0;
        transform        : translateY(-50%);
      }

    }
  }
}