.video-container {
  position       : relative;
  padding-bottom : 56.25%;
  padding-top    : rem-calc(30);
  height         : 0;
  overflow       : hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
}

.video-container-wrap {
  padding-top : rem-calc(30);

  @include breakpoint(large up) {
    padding-top : rem-calc(55);
  }

}