@import "elements/options-cards__item";
@import "elements/options-cards__item-top";
@import "elements/options-cards__item-bottom";

.options-cards {
  padding-bottom : rem-calc(45);
  &__list .column {
    &:nth-child(n + 4) {
      display: none;
    }
  }
}