.platform-card {
  &__button {
    display    : none;
    position   : absolute;
    visibility : hidden;
    opacity    : 0;
    top        : 50%;
    left       : 50%;
    transform  : translate(-50%, -50%);
    transition : opacity 0.8s 0.3s;

    @include breakpoint(large up) {
      display : block;
    }

    @include breakpoint(medium down) {
      display    : block;
      visibility : visible;
      opacity    : 1;
    }

    .button {
      background-color : transparent;
      border           : rem-calc(2) solid $white;

      &:hover {
        background-color : white;
      }
    }
  }
}