.platform-card {

  &.filled-true {
    .m-info.filled {
      display    : block;
      visibility : visible;
    }
  }

  &.assigned-true {
    .m-info.assigned {
      display    : block;
      visibility : visible;
    }
  }

  &.assigned-true.filled-true {
    .platform-card {
      &__top {
        opacity : 0.5;

        &:hover {
          box-shadow : none;
        }
      }

      &__bottom {
        .button {
          display : none;
        }
      }
    }
  }

  &__manager-info {
    position       : absolute;
    left           : rem-calc(44);
    top            : rem-calc(45);
    color          : #737475;
    font-size      : rem-calc(12);
    font-weight    : 500;
    text-transform : uppercase;
    letter-spacing : rem-calc(0.75);

    .icon {
      display : inline-block;
      height  : rem-calc(12);
      width   : rem-calc(14);

      &.icon-check {
        fill : #00ca00;
      }

      &.icon-user {
        fill : #b9babc;
      }
    }

    .m-info {
      display    : none;
      visibility : hidden;
    }

  }
}