.platform-card {
  &__bottom {
    position         : relative;
    z-index          : 1;
    padding          : rem-calc(20 30 0 45);
    display          : flex;
    justify-content  : space-between;
    width            : 100%;
    height           : rem-calc(90);
    border-radius    : rem-calc(10px 10px 40px 40px);
    background-color : #e7e9eb;
  }
}