.platform-card {

  &.number-true {
    .platform-card {
      &__number {
        display    : block;
        visibility : visible;
      }
    }
  }

  &__number {
    position         : absolute;
    display          : none;
    visibility       : hidden;
    z-index          : 2;
    right            : 0;
    top              : rem-calc(30);
    padding          : rem-calc(10 12 10 15);
    border-radius    : rem-calc(10px 10px 0);
    background-color : #e7e9eb;
    color            : #000000;
    font-size        : rem-calc(14);
    font-weight      : 600;
    letter-spacing   : rem-calc(0.3);

    &::after {
      content      : "";
      display      : inline-block;
      position     : absolute;
      right        : 0;
      bottom       : rem-calc(-8);
      width        : 0;
      height       : 0;
      border-style : solid;
      border-width : rem-calc(8px 18px 0 0);
      border-color : #bfc3c7 transparent transparent transparent;

    }
  }
}