.platform-card {
  &__price {
    text-transform : uppercase;
    line-height    : rem-calc(25);
    color          : $black;
    font-weight    : 600;
    font-size      : rem-calc(20);
    letter-spacing : rem-calc(1.25);

    p {
      font-size      : inherit;
      text-transform : uppercase;
      line-height    : rem-calc(25);
      font-weight    : inherit;
      letter-spacing : inherit;
      margin-bottom  : 0;

      span.old-price {
        opacity         : 0.5;
        font-size       : rem-calc(15);
        text-decoration : line-through;
        letter-spacing  : rem-calc(0.93px);
      }

    }
  }
}