.platform-card {
  &__top {
    overflow            : hidden;
    position            : relative;
    margin              : 0 auto;
    width               : calc(100% - #{rem-calc(36)});
    height              : rem-calc(225);
    background-position : center;
    background-repeat   : no-repeat;
    border-radius       : rem-calc(40px 40px) 0 0;
    background-size     : cover;
    transition          : height 0.2s, margin-top 0.2s;

    .platform-mobile-btn {
      display          : inline-block;
      background-color : transparent;
      border           : rem-calc(2) solid $white;

      @include breakpoint(large up) {
        display : none;
      }

      &:hover {
        background-color : white;
      }
    }

    @include breakpoint(large up) {
      &::after {
        content          : "";
        z-index          : 1;
        position         : absolute;
        visibility       : hidden;
        opacity          : 0;
        display          : inline-block;
        top              : 0;
        left             : 0;
        width            : 100%;
        background-color : rgba(0, 0, 0, 0.3);
        border-radius    : rem-calc(40px 40px) 0 0;
        height           : 100%;
        transition       : 0.6s;
      }
    }

    &:hover {
      margin-top : rem-calc(-15);
      height     : rem-calc(240);
      box-shadow : 0 0 rem-calc(21) rgba(2, 3, 3, 0.37);

      &::after {
        visibility : visible;
        margin-top : 0;
        opacity    : 1;

      }

      .platform-card {
        &__button {
          @include breakpoint(large up) {
            z-index    : 2;
            display    : inline-block;
            visibility : visible;
            opacity    : 1;
          }
        }
      }
    }

  }
}