.platform-card {
  &__text {
    position    : absolute;
    left        : rem-calc(30);
    top         : rem-calc(35);
    color       : #ffffff;
    text-shadow : 0 rem-calc(1px 1px) rgba(2, 3, 3, 0.3);
    line-height : rem-calc(25);
    p {

      font-size      : rem-calc(20);
      line-height    : inherit;
      text-transform : uppercase;
      margin-bottom  : 0;
      letter-spacing : rem-calc(1.25);

      > span {
        line-height    : inherit;
        display        : inline-block;
        opacity        : 0.6;
        color          : #ffffff;
        font-size      : rem-calc(14);
        text-transform : none;
        letter-spacing : rem-calc(0.29);
      }

    }

  }
}