.platform-card {
  &__logo {
    position : absolute;
    bottom   : rem-calc(25);
    left     : rem-calc(30);
    img {
      max-width  : rem-calc(110);
      max-height : rem-calc(55);
    }
  }
}