.b-input {


  &__title {
    display        : inline-block;
    padding        : rem-calc(0 0 0 22);
    color          : #000000;
    font-size      : rem-calc(10);
    font-weight    : 600;
    text-transform : uppercase;
    letter-spacing : rem-calc(1.2);
    margin-bottom  : rem-calc(5);
  }
}