.btn-reg {
  padding: rem-calc(13 30);
  color: #222222;
  font-size: rem-calc(12);
  line-height: rem-calc(15);
  font-weight: 500;
  background-color: #e6e6e6;
  text-transform: uppercase;
  letter-spacing: rem-calc(2);
  cursor: pointer;

  .icon {
    display: inline-block;
    width: rem-calc(18);
    height: rem-calc(15);
    fill: #222222;
    margin-right: rem-calc(10);
  }

  &:hover {
    background-color: #cccccc;
  }

  &.-b-radius-left {
    border-radius: rem-calc(20px 0 0 20px);
  }

  &.-b-radius-right {
    border-radius: rem-calc(0 20px 20px 0);
  }

  &.-b-radius-left + &.-b-radius-right {
    margin-left: rem-calc(4);
  }

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}