.pagination-wrapper {
  text-align : center;
  .pagination {
    display : inline-block;
    li {
      display       : inline-block;
      font-weight   : 500;
      border-radius : 50%;
      color         : black;

      a, span {
        display         : flex;
        align-items     : center;
        width           : rem-calc(25);
        height          : rem-calc(25);
        justify-content : center;
        color           : inherit;
        font-size       : rem-calc(16);
        font-weight     : inherit;
        line-height     : rem-calc(26);
        text-transform  : uppercase;

        &:hover {
          background-color : transparent;
          color            : #e30000;
        }
      }

      button:hover {
        background-color : transparent;
      }

      &.current {
        padding          : 0;
        font-weight      : 500;
        color            : black;
        background-color : #e7e9eb;
      }

      &.disabled {
        background-color : transparent;
        padding          : 0;
      }

    }

    &-next, &-previous {
      a, & {
        &::before, &::after {
          display : none;
        }
      }

      .icon {
        width  : rem-calc(5);
        height : rem-calc(9);
        fill   : #000000;
      }

      &:hover {
        background-color : #e7e9eb;
        .icon {
          fill : #e30000;
        }
      }
    }

    &-next {
      .icon {
        transform : rotateY(180deg);
      }
    }
  }
}