.events-card {
  &__photo {
    flex                : 1 0 rem-calc(195);
    background-position : center;
    background-repeat   : no-repeat;
    width               : rem-calc(195);
    min-height          : rem-calc(195);
  }
}