.events-card {
  &__content {
    flex          : 1 0 59%;
    padding       : rem-calc(23 30);
    border-radius : rem-calc(0 40 40 0);

    h6 {
      color          : #000000;
      font-weight    : 600;
      line-height    : rem-calc(24);
      text-transform : uppercase;
      margin         : rem-calc(0 0 10);
      letter-spacing : rem-calc(1.2);
    }

    p {
      color         : #424242;
      font-size     : rem-calc(13);
      line-height   : rem-calc(20);
      margin-bottom : rem-calc(15);
    }

  }
}