@import "elements/count__btn";

.count {
  display         : flex;
  flex            : 0 0 auto;
  width           : rem-calc(75);
  justify-content : space-between;
  align-items     : center;
  text-align      : center;

  input, input:focus {
    flex             : 1 1 33%;
    text-align       : center;
    display          : inline-block;
    margin           : 0;
    padding          : 0;
    height           : 100%;
    color            : #000000;
    font-size        : rem-calc(16);
    text-transform   : uppercase;
    background-color : transparent;
    box-shadow       : none;
    border           : none;
    max-width        : rem-calc(25);
  }

}

