.filter {
  &__options {
    display         : flex;
    flex            : 1 1 100%;
    justify-content : center;
    flex-wrap       : wrap;
    padding         : rem-calc(25 0);

    @include breakpoint(large up) {
      flex            : 0 1 auto;
      justify-content : flex-start;
    }

    & * {
      color          : #000000;
      font-size      : rem-calc(13);
      text-transform : uppercase;
      font-weight    : 600;
      letter-spacing : normal;
    }

    button {
      cursor       : pointer;
      margin-right : rem-calc(23);
    }

  }

}
