.filter__selected {
  flex             : 1 1 100%;
  display          : flex;
  justify-content  : center;
  background-color : #eef1f4;
  flex-wrap       : wrap;
  padding          : rem-calc(10 0);

  @include breakpoint(large up) {
    justify-content  : flex-end;
    flex             : 0 1 auto;
    background-color : transparent;
    padding          : rem-calc(25 0);
  }

  button {
    @include clearfix();
    background-color : #acb4bc;
    border-radius    : rem-calc(2);
    display          : inline-block;
    color            : #ffffff;
    font-size        : rem-calc(9);
    cursor           : pointer;
    line-height      : rem-calc(9);
    text-transform   : uppercase;
    letter-spacing   : rem-calc(1);
    padding          : rem-calc(6);
    margin           : rem-calc(6 2);

    &:hover {
      background-color : #959ca4;
    }

    .icon {
      width  : rem-calc(7);
      height : rem-calc(6);
      fill   : #ffffff;
    }

    &.close {
      background-color : transparent;
      font-weight      : 600;
      color            : #6f7983;
      margin           : rem-calc(0 18);

      .icon {
        fill : #6f7983;
      }

      &:hover {
        color : #959ca4;

        .icon {
          fill : #959ca4;
        }

      }
    }

  }
}