.offers {
  &__card {
    display          : flex;
    flex           : 1 1 auto;
    flex-direction   : column;
    width            : 100%;
    text-align       : center;
    max-width        : rem-calc(220);
    min-height       : rem-calc(135);
    box-shadow       : rem-calc(0 0 12px) rgba(2, 3, 3, 0.16);
    border-radius    : rem-calc(25);
    background-color : #ffffff;
    padding          : rem-calc(35 30 25);
    margin-bottom    : rem-calc(25);

    > div {
      text-align : inherit;
      flex       : 1;
    }

    p {
      color       : #000000;
      font-size   : rem-calc(14);
      line-height : rem-calc(20);
      margin      : 0;
    }

    &.-results {
      padding          : rem-calc(26 30 25);
      background-color : #e7e9eb;
      box-shadow       : none;

      .text-price p strong {
        font-size : rem-calc(16);
      }
      .button {
        margin-top : rem-calc(13);
      }
    }
  }
}