.offers {
  &__wrapper {
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;

    @include breakpoint(medium up) {
      flex-direction : row;
    }
  }
}