.offers {
  &__symbol {
    text-align     : center;
    flex           : 1 1 auto;
    padding        : rem-calc(0 5);
    color          : #474747;
    font-size      : rem-calc(50);
    font-weight    : 300;
    text-transform : uppercase;

    @include breakpoint(xlarge up) {
      padding : rem-calc(0 25);
    }
    span {
      display : inline-block;
    }
  }
}