.close-btn-wrap {
  flex     : 1 1 auto;
  position : relative;

  .close-button {
    display    : inline-block;
    position   : static;
    transform  : rotateY(0);
    transition : transform 0.2s ease-in;

    .icon {
      width      : rem-calc(12);
      height     : rem-calc(12);
      fill       : #c1c4c7;
      transition : fill 0.2s ease-in;
    }

    &:hover {
      transform : rotateY(180deg);
      .icon {
        fill : #dd0000;
      }
    }
  }
}