.basket {
  &__top {
    margin           : 0 auto;
    width            : 100%;
    box-shadow       : rem-calc(0 0 15px) rgba(2, 3, 3, 0.18);
    border-radius    : rem-calc(15 15 0 0);
    background-color : #ffffff;
    min-height       : rem-calc(150);
    padding          : rem-calc(27 23 9);

    @include breakpoint(medium up) {
      width   : calc(100% - #{rem-calc(40)});
      padding : rem-calc(45 30);
    }

    @include breakpoint(xlarge up) {
      padding : rem-calc(45 40);
    }
  }
}
