
.basket {

  &__price {
    @include breakpoint(medium up) {
      margin-left   : auto;
    }


    p {
      font-size      : rem-calc(13);
      font-weight    : 500;
      text-transform : uppercase;
      letter-spacing : rem-calc(1.9);
      margin-bottom  : 0;
    }

    p span {
      color       : #030303;
      font-size   : rem-calc(20);
      font-weight : 600;

    }

  }
}