.basket {
  &__bottom {
    display          : flex;
    flex-wrap        : wrap;
    align-items      : center;
    flex-direction   : column;
    justify-content  : space-between;
    padding          : rem-calc(26 33);
    border-radius    : rem-calc(0 0 30px 30px);
    background-color : #e7e9eb;

    @include breakpoint(medium up) {
      border-radius    : rem-calc(15px 15px 30px 30px);
      flex-direction : row;
      .button {
        margin-left : rem-calc(37);
      }

    }

    .small-margin {
      margin-bottom : rem-calc(15);

      @include breakpoint(medium up) {
        margin-bottom : 0;
      }
    }

    @include breakpoint(large up) {
      padding : rem-calc(26 72);
    }
  }
}