* {
  outline : none;
}

.main {
  &.-padding-y {
    padding-top : rem-calc(85);
  }
}

.b-title {
  margin         : 0 auto;
  width          : calc(100% - #{rem-calc(30)});
  position       : relative;
  color          : #000000;
  font-size      : rem-calc(16);
  font-weight    : 700;
  text-transform : uppercase;
  letter-spacing : rem-calc(2);
  padding-bottom : rem-calc(5);

  @include breakpoint(large up) {
    width : 100%;
  }

  &::after {
    content          : "";
    position         : absolute;
    display          : inline-block;
    width            : rem-calc(15);
    height           : rem-calc(3);
    background-color : #e30000;
    left             : 0;
    bottom           : 0;
  }

  &.-margin-y {
    margin-bottom : rem-calc(45);
  }

  &.-large-offset {
    @include breakpoint(large up) {
      padding-left : rem-calc(60);
      &::after {
        left : rem-calc(60);
      }
    }
  }
}

.b-editor {
  color       : #000000;
  font-size   : rem-calc(14);
  line-height : rem-calc(23);

  &.-product {
    padding-top    : rem-calc(8);
    padding-bottom : rem-calc(20);
  }

  P {
    color         : #000000;
    font-size     : rem-calc(14);
    line-height   : rem-calc(23);
    margin-bottom : rem-calc(14);
  }

  h1 {
    color          : #000000;
    font-size      : rem-calc(24);
    font-weight    : 600;
    line-height    : rem-calc(25);
    text-transform : uppercase;
    letter-spacing : rem-calc(1.5);
    margin-bottom  : rem-calc(30);
  }
}

.button {
  line-height    : rem-calc(12);
  text-transform : uppercase;
  letter-spacing : rem-calc(2);
  font-weight    : 600;
  box-shadow     : 0 rem-calc(5px 5px) rgba(2, 3, 3, 0.16);

  &.no-shadow {
    box-shadow : none;
  }

  &.text-tiny {
    font-weight : 400;
  }

  &:hover, &:focus {
    color      : $black;
    box-shadow : 0 rem-calc(5px 5px) rgba(2, 3, 3, 0.04);
  }

  &.alternate {
    background-color : #a8aeb5;

    &:hover {
      color            : white;
      background-color : $black;
    }
  }

  &.darker {
    font-weight      : 400;
    background-color : #434343;

    &:hover {
      color            : white;
      background-color : $black;
    }

  }

  &.tiny {
    padding : rem-calc(6 9);
  }
}

// TODO: рассортировать

.ordering-radio {
  display       : flex;
  margin-bottom : rem-calc(20);

  label {
    color          : #000000;
    font-size      : rem-calc(11);
    line-height    : rem-calc(20);
    text-transform : uppercase;
    letter-spacing : rem-calc(1.4);

    &::after {
      top : rem-calc(4);
    }

    &::before {
      top : rem-calc(-2)
    }
  }
}

#requisites-file-name {
  width         : 100%;
  margin-bottom : 10px;
  padding       : 10px 0 0 28px;
}

