@import "elements/product-item__content";
@import "elements/product-item__desc";
@import "elements/product-item__photo";
@import "elements/product-item__title";
@import "elements/product-item__subtitle";

.product-item {
  display       : flex;
  flex-wrap     : wrap;
  margin-bottom : rem-calc(10);

}