.btn-dropdown {
  color          : #000000;
  font-size      : rem-calc(13);
  text-transform : uppercase;
  font-weight    : 600;
  letter-spacing : normal;
  cursor         : pointer;

  &:last-child {
    margin-right : 0;
  }
}

.btn-pane.dropdown-pane {
  background-color : #e7e9eb;
  padding          : rem-calc(25 25 0);
  border-radius    : rem-calc(5);
  border           : none;
  max-width        : rem-calc(190);
  width            : 100%;
  height           : rem-calc(250);
  overflow-y       : scroll;
}